$primary-bg: #ecf1f5;
$primary: #00ab55;
$secondary: #6c757d;
$success: #36b37e;
$error: #ff5630;
$info: #00b8d9;
$placeholder: #718190;
$warning: #ffab00;
$default: #919eab;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
